.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height:30px;
    margin-top: 50px;
    font-weight:400;
    background:rgb(19,26,34);
    color: white;
    text-align: center;
}